body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 60%;
  margin: auto;
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: center;
}